@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family: "Pretendard",serif;
}
body {
    background-color:#3C3D47;
}
.pro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
}
.profile {
    width: 58px;
    height: 58px;
    border-radius: 100%;
    border: 1px solid white;
    background-image: url('profile.jpeg');
    background-position: center;
    background-size: cover;
}
.headcopy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 260px;
}
.main {
    color : #FFFFFF;
    font-size: 27px;
    size : 20px;
    font-weight: 800;
    margin: 0%;
}
.sub {
    color : #B1B1B5;
    font-size: 14px;
    font-weight: 400;
    size : 14px;
    margin-top: 10px;
}
.minis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 7px;
    margin-bottom: 68px;
}
.minis > a {
    width: 102px;
    height: 48px;
    border-radius: 32px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    white-space:pre-wrap;
}
.notion {
    background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #F7F6F3;
    color:#84827D;
}
.brunch {
    background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #02C3BD;
    color:#FFFFFF;
}
.facebook {
    background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #4167B3;
    color:#FFFFFF;
}
.wrap {
    width: 320px;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bigs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}
.bigs > a {
    width: 123px;
    background-color: white;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    padding: 20px 16px 16px 16px;
    border-radius: 8px;
}
.name {
    font-size: 22px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 45px;
}
.desc {
    font-size: 12px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 24px;
}
.btn {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #26C50C;
    border-radius: 4px;
    padding: 5px 4px 5px 4px;
}